node_modules/
.env
.env.*
!.env.example
program/target/*
!program/target/idl/
program/target/deploy/commitment-keypair.json
program/.anchor/
.next/
*.log
_keys/
tifo/target/
tifo/.anchor/
web/.next/
nohup.out
.tifo-peek/
hackathon-template/
